{% extends "layout.html" %}
{% block content %}
    
<!-- Adding the "content" identifier is not necessary in Jinja 2 and later, but is helpful for organization and keeping tracks of end blocks-->
    <div class="container mt-4">
        <h1>About Page</h1>
        <h3>We want to hear your shower thoughts! Short form blog posts are our way to share our shower thoughts with you.</h3>
        <body>
            This site was developed on April 12. Uses Flask and Bootstrap.
        </body>
    </div>
{% endblock content%}